<ul>
  <% if ::Refinery::WineGroups::Admin::WineGroupsController.searchable? %>
    <li>
      <%= render '/refinery/admin/search', :url => refinery.wine_groups_admin_wine_groups_path %>
    </li>
  <% end %>
  <li>
    <%= link_to t('.create_new'), refinery.new_wine_groups_admin_wine_group_path,
                 :class => "add_icon" %>
  </li>
<% if !searching? && ::Refinery::WineGroups::Admin::WineGroupsController.sortable? && ::Refinery::WineGroups::WineGroup.any? %>
  <li>
    <%= link_to t('.reorder', :what => "Wine Groups"),
                 refinery.wine_groups_admin_wine_groups_path,
                 :id => "reorder_action",
                 :class => "reorder_icon" %>

    <%= link_to t('.reorder_done', :what => "Wine Groups"),
                 refinery.wine_groups_admin_wine_groups_path,
                 :id => "reorder_action_done",
                 :style => "display: none;",
                 :class => "reorder_icon" %>
  </li>
<% end %>
</ul>
