<div class="span3">
  <div class="well sidebar-nav">
    <ul class="nav nav-list">
      <li class="nav-header">酒组</li>
      <li>
        <%= link_to '各酒组品酒辞', final_awards_path() %>
      </li>
    </ul>
  </div><!--/.well -->
</div><!--/span-->
