<div class="span3">
  <div class="well sidebar-nav">
    <ul class="nav nav-list">
      <% if current_user.leader? %>
          <li class="nav-header">组长操作</li>
          <li>
            <%= link_to '查看进度', '/wine_groups/progress' %>
          </li>
      <% end %>
      <% if current_user.e_group? %>
          <li class="nav-header">操作</li>
          <li>
            <%= link_to '各酒组品酒辞', final_awards_path() %>
          </li>
          <li>
            <%= link_to '查看进度', '/wine_groups/progress' %>
          </li>
      <% end %>
      <% if !current_user.e_group? %>
      <li class="nav-header">酒组</li>
      <% @wine_groups.each do |wine_group| %>
          <% if wine_group.id ==  params[:id].to_i %>
              <li class="active">
          <% else %>
              <li>
          <% end %>
          <%= link_to wine_group.name, challenge_path(wine_group) %>
      <% end %>
     <% end %>
    </ul>
  </div><!--/.well -->
</div><!--/span-->
