<div class="span3">
  <div class="well sidebar-nav">
    <ul class="nav nav-list">
      <li class="nav-header">Groups</li>
      <% @wine_groups.each do |wine_group| %>
          <% if wine_group.id ==  params[:id].to_i %>
              <li class="active">
          <% else %>
              <li>
          <% end %>
        <%= link_to wine_group.name, challenge_path(wine_group) %>
      </li>
      <% end %>
    </ul>
  </div><!--/.well -->
</div><!--/span-->
