body {
  font-family: sans-serif;
}
.navbar h1.brand {
  font-size: 28pt;
  color: #FFF;
}
// .container-fluid {
// width: 960px;
// margin: 0 auto;
// }
.well.sidebar-nav {
  width: 250px;
  min-height: 400px;
}
.table td{
  border: 0;
}

.container.well {
  margin-bottom: 25px;
  width: 800px;
  h2 {
    position: relative;
    border-bottom: 1px dotted rgb(197, 192, 192);
    .open_toggle {
      font-weight: normal;
      font-size: 16px;
      position: absolute;
      right:0;
      color: #468847;
      i {
        font-style: italic;
      }

    }
    .new_record {
      color:#c63e37;
    }
  }
}

textarea#test_paper_note {
  width: 600px;
  height: 80px;
}
td.aleft {
  text-align: left;
  font-weight: bold;
}
.container {
  padding: 10px;
}
.form_outer {
  form {
    display: none;
    .help-inline {
      display: none;
    }
  }
  .respond_text {
    display: none;
    width: 500px;
  }


}

.clearfix {
  clear: both;
}

.nav.nav-list {
  height: 600px;
  overflow: scroll;
}

.nav-header {
  font-weight: bold;
  font-size: 20px;
  border-bottom: 3px solid #EEE;
}
