
.container-fluid {
  width: 960px;
  margin: 0 auto;
}
.well.sidebar-nav {
  width: 200px;
  min-height: 400px;
}
.table td{
    border: 0;
}

.container.well {
  margin-bottom: 10px;
  width: 700px;
}

textarea#test_paper_note {
  width: 600px;
  height: 80px;
}
td.aleft {
  text-align: right;
  font-weight: bold;
}
.container {
padding: 10px;
}
.form_outer {
  form {
    display: none;
    .help-inline {
      display: none;
    }
    }
  .respond_text {
    display: none;
width: 500px;
  }


}

.clearfix {
  clear: both;
}
